.row.mt-20
  .col-sm-12.text
    div.dropdown.show.pull-right
      a.btn.btn-primary.dropdown-toggle(href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Hi #{curent_user.name}
      div.dropdown-menu(aria-labelledby="dropdownMenuLink")
        //a.dropdown-item(href='/profile', role='button' data-toggle="modal" data-target="#modalLarge") My Profile
        a.dropdown-item(href='/logout', role='button') Logout!