doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title World Cup - 2018
    link(rel='stylesheet', href='/stylesheets/assets/bootstrap/css/font.css')
    link(rel='stylesheet', href='/stylesheets/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/assets/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/assets/css/form-elements.css')
    link(rel='stylesheet', href='/stylesheets/assets/css/style.css')
    link(rel='stylesheet', href='/vendor/datatables/dataTables.bootstrap.css')
    link(rel='stylesheet', href='/vendor/sweetalert/dist/sweetalert.css')
    link(rel="shortcut icon" href="/img/logo-icon.png" type="image/x-icon")
    script(src='/stylesheets/assets/js/jquery-1.11.1.min.js')

    script(src='/vendor/sweetalert/dist/sweetalert.min.js')
  body
    block content
    .modal.fade(id="modalLarge" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
      .modal-dialog.modal-lg
        .modal-content
    footer.mb-20
      center © All Rights Reserved. Privacy Policy Designed by TOPICA - IT SAIGON
    script(src='/stylesheets/assets/bootstrap/js/bootstrap.min.js')
    script(src='/stylesheets/assets/js/jquery.backstretch.min.js')
    script(src='/vendor/jquery-datatables/media/js/jquery.dataTables.js')
    script(src='/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js')
    script(src='/vendor/jquery-datatables-bs3/assets/js/datatables.js')
    script(src='/stylesheets/assets/js/scripts.js')

